<h1>Create a Team and Heroes!</h1>
<form method="post" action="/team" >
  Team Name: <input type="name" id= "name" name="team[name]">
  Team Motto: <input type="motto" id= "weight" name="team[motto]"><br>

  Hero 1: <input id="member1_name" type="text" name="team[heroes][][name]"><br>
  Hero Power: <input id="member1_power" type="text" name="team[heroes][][power]"><br>
  Hero Bio: <input id="member1_bio" type="text" name="team[heroes][][bio]" ><br>

  Hero 2: <input id="member2_name" type="text" name="team[heroes][][name]" ><br>
  Hero Power: <input id="member2_power" type="text" name="team[heroes][][power]" ><br>
  Hero Bio: <input id="member2_bio" type="text" name="team[heroes][][bio]" ><br>

  Hero 3: <input id="member3_name" type="text" name="team[heroes][][name]" ><br>
  Hero Power: <input id="member3_power" type="text" name="team[heroes][][power]" ><br>
  Hero Bio: <input id="member3_bio" type="text" name="team[heroes][][bio]" ><br>
  <button type="submit" name="Submit"> submit</button>
</form>
